h1{
color: darkblue;
font-family: sans-serif;
font-style: italic;
font-weight: 600;
}

h2 {
color: darkmagenta;
font-weight: 800;
font-style: italic;
}

.first{
    font-weight: 800;
    font-style: oblique;
}


#id3{
    color: chartreuse;
}

.second{
    color: blueviolet;
}


.Segun{
    width: 100px;
    height: 50px;
    border: 10px solid blueviolet;
    padding: 10px 10px 10px 10px;
    margin: 10px;

}


.container{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}


#bucket{
    /* display: flex; */
    /* flex-direction: row; */
    /* border: solid red; */
    /* justify-content: space-around; */
    /* align-items: ; */
}


#bucket{
display: flex;
flex-direction:;
border: dashed goldenrod;
justify-content: space-between;
align-items: flex-end;

height: 200px;
}